patsy
absl-py
altair
appnope
astor
attrs
backcall
base58
bleach
blinker
boto3
botocore
certifi
chardet
Click
coloredlogs
cycler
Cython
decorator
defusedxml
docopt
docutils
entrypoints
enum-compat
future
gast
google-pasta
grpcio
h5py
humanfriendly
idna
importlib-metadata
inflect
ipykernel
ipython
ipython-genutils
ipywidgets
jaraco.itertools
jedi
Jinja2
jmespath
joblib
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-core
jupyter-nbextensions-configurator
jupyterlab-server
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
opt-einsum
pandas #
pandocfilters
parso
pathtools
patsy
pexpect
pickleshare
Pillow
plotly
pmdarima
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
requests
retrying
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
statsmodels #0.13.5 # error 0.11.0
streamlit
ta
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
toml
toolz
tornado
tqdm
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug #
widgetsnbextension #
wrapt
zipp
yfinance
ta
tqdm
coloredlogs
tensorflow-gpu